 <div class="user-details">
  <h1><b>We are a group of data scientists and software engineers dedicated to bringing clarity to the decentralized and centralized markets.</b></h1>
  <p> {{site.user_description}} </p>
</div>
<!--
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-cplusplus-plain-wordmark colored"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
  <div class="tech">
    <h2>Data</h2>
    <i class="devicon-mysql-plain colored"></i>
    <i class="devicon-mongodb-plain colored"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-docker-plain colored"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
</div>
-->