 <div class="user-details">
  <h1><b>We are a group of data scientists and software engineers dedicated to bringing clarity to the financial markets.</b></h1>
</div>
<div class="user">
  <h1><b>About Us</b></h1>
  <div class="tech">
    <h2>Research-Driven</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
  </div>
  <div class="tech">
    <h2>Systematic</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
  </div>
  <div class="tech">
    <h2>Rigorous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
  </div>
</div>