<style>
    .text-footer {
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 1.6rem;
        line-height: 100%;
    }
</style>
<div>
    <div class="footer text-footer">
        <div>
            <img src="data/Social_Profile_Mirko_Black.png" width="70" height="70" />
        </div>
        <p>{{site.username}}</p>
        <p>buehara@salyentresearch.com</p>
    </div>      
</div>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
