<style>
.container{
      display: inline-block;
 }

.typed-out{
    padding-bottom: 2%;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
      typing 1s steps(20, end) forwards,
      blink .8s infinite;
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: white; }
}

@keyframes typing {
      from { width: 0 }
      to { width: 100% }
}
</style>
<div id="particles-js">
  <div class="header">
      <h1>
        <div class="container">
          <span class="site-title typed-out">{{site.username}}</span>
        </div>
        <img src="/images/white-logo-150.png">
      </h1>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
